_*/
figs/
imgs/
meta/
outs/raw-*
code/11-*
logs/*
**/*.gz
**/*.txt
**/*.csv
**/*.rds
**/*.tif
**/*.pdf
**/*.png
**/*.jpg
**/*.html
**/*.Rout
**/*.pickle
**/*.parquet
.snakemake/
!*/.gitkeep
data/ref/docs/.quarto